Temp/
client/obj/
client/Library/
bin/ 
node_modules/
*.unityproj 
*.swp
*.swo 
client/**/*.csproj
~*
*.sdf
*.opensdf
*.opendb 
*.idea
.vs
client/**/*.sln
**/windows_amd64
*.meta~*
/build
Library/
/Library/
/[Ll]ibrary/
/Library/